{% extends "base.html" %}
{% load static %}
<br><br>
{% block content %}
{% include "projinfo.html" %}

<meta name="viewport" content="width=device-width, initial-scale=1.0" >


<div id="body">
  <h3 class="title">Instructions</h3>
  <p>Please create an account ('Sign Up') and use the 'Get Rec' tab to generate a recommendation. You may rate suggestions on the same page. All of your recs and ratings can be viewed under the 'User Home' page. 
    You must be logged in to use the app. The app is not well set up for mobile usage.
    Note that each email and password can only be used once per account.</p> 
  <p>Feel free to send any other questions or suggestions to renarepenning@gmail.com. Check out our timeline and product info under the 'About' tab.</p>
  <h3 class="title">About the project</h3>
  <p>Authors: Rena Repenning, Kelly Romer, Emily O'Connell, Matt Rau, and Vaughn Bangash.</p>
  <p>Faculty mentor: Dr Anastasia Kurdia</p>

  <h3 class="title">Access our code</h3>
  <a class="nav-link" href="https://github.com/renarepenning/gamerecs_webapp">Web App Repository</a>

</div>
{% endblock %}

