{% extends "base.html" %}

{% block content %}
<p>Poster to be presented at Tulane's School of Science and Engineering Expo on Thursday, April 21st.</p>
<img src="https://game-recs.herokuapp.com/posterDraft.png" alt="Poster Draft"/>
<img src="https://www.canva.com/design/DAE9ODmfFGE/kzhHo6j8Crv-501XwjKRKg/edit?utm_content=DAE9ODmfFGE&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" alt="Live Poster"/>


<a href="https://www.canva.com/design/DAE9ODmfFGE/kzhHo6j8Crv-501XwjKRKg/edit?utm_content=DAE9ODmfFGE&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton">Link to poster in progress</a>


{% endblock %}
