{% extends "base.html" %}

{% block content %}
<style>
    #Proj-Info-Title {
        background-color: #f5fbff;
        max-width: 70%;
        padding: 20px;
        margin: 10px;
        border-radius: 30px;
  
        
      }
  
      #Milestones {
        background-color: #f5fbff;
        max-width: 100%;
        padding: 20px;
        margin: 10px;
        border-radius: 30px;
        color: #255250;
      }
  </style>
  <br><br><br><br><br>

<p style="padding: 20px;"><em>Poster to be presented at Tulane's School of Science and Engineering Expo on Thursday, April 21st.</em></p>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/CapstonePoster.png/897px-CapstonePoster.png?20220418162733" alt="Poster Draft" class="img-rounded" style="height: 800px;"/>

<br><br><br>

<h5 id="title">Additional information</h5>

  <li style="font-weight: bold;">Data collection tool & methods</li>
  <p>The primary source of data is from the video game database IGDB. IGDB provided an ideal basis for our data collection, as it has 346,742 game entries along with ample information accompanying each game such as genres, release dates, and the studio that produced it. We were able to web scrape in Python from the IGDB API and obtain JSON files of all of this data.
    For human data, we created and distributed an online survey that asks users for their favorite indie games, as well as other games they like and profile questions such as their favorite gaming genres and their age.
    </p>
  <li style="font-weight: bold;">Algorithm development methodology </li>
  <p>The algorithm was developed in multiple phases, the first model used the basic relationship between a user input and 5 independent variables that contain qualitative arrays. To quantify these variables, our algorithm creates a score based on the similarities between the user imputed game’s characteristics for each variable, and the characteristics of each datapoint in that variable. To do this, we take the conjunction of each data point in that specific variable, and divide it by the disjunction. The lengths of these corresponding outputs create a quantitative score that is summed over all independent variables to create a master score. 
    The second phase of the algorithm was adding in Indie weights. The larger game studios have more qualitative data, and thus generally receive higher recommendations. To be more inclusive, we included an Indie dummy variable that will augment the score of indie games, boosting their recommendation. 
    After that, to backtest our algorithm, we asked the user to rate our recommendation. In addition, our algorithm randomly assigns weights to each independent variable that change with each iteration. This randomness allows the algorithm to vary its recommendations, and develop a specific dependent variable for statistical analysis. Note that the randomness function to assign the weights can be skewed to target variables more or less, and creates the quantifiable dataset needed to find optimal weighting. 
    </p>
  <li style="font-weight: bold;">UX/UI tools</li>
  <p>Our website is a Django web app hosted on Heroku. We used Bootstrap to further aid in stylistic choices. The website includes a user model that allows the user to create a profile. Within that profile, the user can retrieve new recommendations by filling out a form. Each recommendation that the user gathers is stored, along with their rating, in the database. This allows the algorithm to access the ratings and also allows the user to view their old recommendations and ratings at any time via the user page.</p>

<br> <br>


<div class="container" id="Milestones">
  <h2>Milestone Timeline</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Milestone</th>
        <th>Current Progress</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>MS 1</td>
        <td>We were in the planning stages of both the algorithm and UI. We weren't sure if we would make a website or app yet. We did think it best to start with a KNN algorithm, but we wouldn't begin developmemnt on this until much later. For now our focus was learning and planning, creating a loose timeline and organizing our ideas and time.</td>
        <td>October 11, 2021</td>
      </tr>
      <tr>
        <td>MS 2</td>
        <td>At this point, we understood our most important task was to collect as much data as possible. This was difficult at first, as we wanted specifically user and game interactions as our data. A simple average score combined with the number of reviews would not be substantial. We eventually wanted to create user profiles populated by their input games. To get data similar to this we would need individual ratings by separate users.</td>
        <td>October 25, 2021</td>
      </tr>
      <tr>
        <td>MS 3/4</td>
        <td>We were able to succesfully scrape thousands of entries of useful data for our algorithm, but now we needed to focus development on the algorithm. Matt and Kelly headlined this effort, making substantial progress on the code. By the end of this milestone we had a working KNN implementation ready for testing and training.</td>
        <td>December 15, 2021</td>
      </tr>
      <tr>
        <td>MS 5</td>
        <td>At this time we have developed a running algorithm MVP as well as drafted a homepage through JavaScript. We worked in parallel to continue data collection alongside app development. Throughout the milestone, Rena worked to recreate the site through Django, working with Emily to launch it on Heroku. The Django site features Game and User classes and has SQLite integrated. We were able to access the IGDB data through the API to get a massive dataset spanning across 200,000 games. We plan to get more user generated data before implementing user input within the site.</td>
        <td>February 6, 2022</td>
      </tr>
      <tr>
        <td>MS 6</td>
        <td>For this Milestone we were tasked with presenting the current standings of our project. We decided to do a small presentation before demonstrating our current implementation before the class. Our main focus was to finally connect the algorithm to the site and we were able to successfully showcase both the Django site and the algorithm. With the algorithm now working through the site, our next step was to optimize both, refining the website to make it look more professional while training the algorithm to improve its accuracy.</td>
        <td>March 14, 2022</td>
      </tr>
      <tr>
        <td>MS 7</td>
        <td>For this Milestone we created a poster to be used as a representation of our project. The link to the digital version can be found on the About page. Kelly took charge of this Milestone, working soleley to create the poster as she had already completed her tasks and was looking to further help the group.</td>
        <td>April 11, 2022</td>
      </tr>
      <tr>
        <td>MS 8</td>
        <td>Final</td>
        <td>May 3, 2022</td>
      </tr>
    </tbody>
  </table>
</div>
</div>

{% endblock %}
