{% extends "base.html" %}

{% block content %}
<style>
    #Proj-Info-Title {
        background-color: #f5fbff;
        max-width: 70%;
        padding: 20px;
        margin: 10px;
        border-radius: 30px;
  
        
      }
  
      #Milestones {
        background-color: #f5fbff;
        max-width: 100%;
        padding: 20px;
        margin: 10px;
        border-radius: 30px;
        color: #255250;
      }
  </style>
  

<p style="padding: 20px;"><em>Poster to be presented at Tulane's School of Science and Engineering Expo on Thursday, April 21st.</em></p>
<!-- <img src="public/img/posterDraft.png" alt="Poster Draft" class="img-rounded" style="height: 800px;"/>
 -->
<a style="padding: 20px;" href="https://www.canva.com/design/DAE9ODmfFGE/kzhHo6j8Crv-501XwjKRKg/edit?utm_content=DAE9ODmfFGE&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton">Link to poster in progress</a>
<!--
<div>
    {% load static %} <img src="{% static "gamerecs/media/poster.png" %}" alt="poster"/>
</div>
-->
<br><br><br>
<p>While video game recommendation systems do exist, such as Quantic Foundry or Steam’s recommendation engine, the few out there lack human feedback and are largely biased toward games produced by large, well-known video game studios. Our goal is to create a video game recommendation system that promotes games developed by independent studios and provides quality recommendations tailored to each individual user. 
</p>
<h3 id="title">Problem statement</h3>
<p>Our approach to a video game recommendation system seeks to eliminate large-studio bias by placing emphasis on games created by independent studios. Secondly, our recommendation algorithm will incorporate human-generated data as well as a user-generated feedback system.
  The final product consists of a recommendation algorithm hosted on a website that allows each user to make a profile, obtain and rate video game recommendations, and view previous recommendations. The algorithm inputs 1 game and outputs 5 recommendations.
</p>




<div class="container" id="Milestones">
  <h2>Milestone Timeline</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Milestone</th>
        <th>Current Progress</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>MS 1</td>
        <td>We were in the planning stages of both the algorithm and UI. We weren't sure if we would make a website or app yet. We did think it best to start with a KNN algorithm, but we wouldn't begin developmemnt on this until much later. For now our focus was learning and planning, creating a loose timeline and organizing our ideas and time.</td>
        <td>October 11, 2021</td>
      </tr>
      <tr>
        <td>MS 2</td>
        <td>At this point, we understood our most important task was to collect as much data as possible. This was difficult at first, as we wanted specifically user and game interactions as our data. A simple average score combined with the number of reviews would not be substantial. We eventually wanted to create user profiles populated by their input games. To get data similar to this we would need individual ratings by separate users.</td>
        <td>October 25, 2021</td>
      </tr>
      <tr>
        <td>MS 3/4</td>
        <td>We were able to succesfully scrape thousands of entries of useful data for our algorithm, but now we needed to focus development on the algorithm. Matt and Kelly headlined this effort, making substantial progress on the code. By the end of this milestone we had a working KNN implementation ready for testing and training.</td>
        <td>December 15, 2021</td>
      </tr>
      <tr>
        <td>MS 5</td>
        <td>At this time we have developed a running algorithm MVP as well as drafted a homepage through JavaScript. We worked in parallel to continue data collection alongside app development. Throughout the milestone, Rena worked to recreate the site through Django, working with Emily to launch it on Heroku. The Django site features Game and User classes and has SQLite integrated. We were able to access the IGDB data through the API to get a massive dataset spanning across 200,000 games. We plan to get more user generated data before implementing user input within the site.</td>
        <td>February 6, 2022</td>
      </tr>
      <tr>
        <td>MS 6</td>
        <td>For this Milestone we were tasked with presenting the current standings of our project. We decided to do a small presentation before demonstrating our current implementation before the class. Our main focus was to finally connect the algorithm to the site and we were able to successfully showcase both the Django site and the algorithm. With the algorithm now working through the site, our next step was to optimize both, refining the website to make it look more professional while training the algorithm to improve its accuracy.</td>
        <td>March 14, 2022</td>
      </tr>
      <tr>
        <td>MS 7</td>
        <td>For this Milestone we created a poster to be used as a representation of our project. The link to the digital version can be found on the About page. Kelly took charge of this Milestone, working soleley to create the poster as she had already completed her tasks and was looking to further help the group.</td>
        <td>April 11, 2022</td>
      </tr>
      <tr>
        <td>MS 8</td>
        <td>Final</td>
        <td>May 3, 2022</td>
      </tr>
    </tbody>
  </table>
</div>
</div>

{% endblock %}
