
<meta name="viewport" content="width=device-width, initial-scale=1.0" >
<br><br><br><br>
<div class="media" id="projinfo" style="padding: 20px;">
    <img style="max-width:30%" src="https://upload.wikimedia.org/wikipedia/en/7/7e/Tulane_logo.svg" class="mr-3" alt="Tulane logo">
    <div class="media-body">
      <h5 class="title">Capstone Project Goal</h5>
      Recommendation systems are a popular and profitable application of machine learning across many forms of media.  There are no available, user-centric recommendation algorithms that draw data from multiple sources. By creating a video game recommendation system we hope to help users discover games they would not have otherwise. Modern recommenders rely on corporate advertising motivations or private user data. The creation and obtainment of video games require more time and financial investment than other media such as film, music, etc. Twitch’s Internet Games Database is a comprehensive dataset and API, similar in function to the IMDB. We aim to use this data to leverage user opinions on popular games to recommend indie games.
    </div>
  </div>