{% extends "base.html" %}

{% block content %}
  <h1 class="title "> Recommender</h1>

  <h4><em>User login functionality coming soon</em></h4>

  <h6>Please log in here</h6>
  <form class="login">
    <div class="form-group">
      <label for="exampleInputEmail1" style="color:#e3f2fd">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" style="color:#e3f2fd">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1" style="color:#e3f2fd">Log me in!</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
   


{% endblock %}


   
