{% extends "base.html" %}

{% block content %}

<style>
    #user-out {
      background-color: #f5fbff;
      max-width: 50%;
      padding: 20px;
      margin: 20px;
      border-radius: 30px;
    }
    #title {
    font-weight: bolder;
    font-size: large;
    color: #255250;
    }

    #time {
      text-align: center;
    }

    #rating {
      color: #4f8b8a;;
      text-align: center;
      font-size: large;
      font-weight: bold;
    }

    input {
      border: 1px solid transparent;
      background-color: #f1f1f1;
      padding: 10px;
      font-size: 16px;
    }

    input[type=text] {
      background-color: #f1f1f1;
      width: 100%;
    }

    input[type=submit] {
      background-color: DodgerBlue;
      color: #fff;
      cursor: pointer;
    }
</style>
<br><br><br><br><br>
    <h1>Your Recommendations</h1>
    {% for r in recs %}
    <div id="user-out">
        <p id="title">{{ r.games }}</p>
        <p>Recommended Games: {{r.rec|linebreaksbr }}</p>
        <p id="rating">Your rating: {{ r.rating }}</p>
        <p id="time"><em>Entered on {{r.timestamp}}</em></p>
    </div>
    {% endfor %}
    <br>
{% endblock %}