{% extends "base.html" %}

{% block content %}

<style>
    #user-out {
      background-color: whitesmoke;
      max-width: 50%;
      margin: 30px;
    }

    input {
      border: 1px solid transparent;
      background-color: #f1f1f1;
      padding: 10px;
      font-size: 16px;
    }

    input[type=text] {
      background-color: #f1f1f1;
      width: 100%;
    }

    input[type=submit] {
      background-color: DodgerBlue;
      color: #fff;
      cursor: pointer;
    }

</style>
    <h1>Your Recommendations</h1>
    {% for r in recs %}
    <div id="user-out">
        <p><em>Game: {{ r.games }}</em> -- (entered on {{r.timestamp}})</p>
        <p>Recommended Games: {{r.rec|linebreaksbr }}</p>
        <p >Your rating: {{ r.rating }}</p>
    </div>
    <!-- <div id="rate">
      <div class="container" id="rating-input">
        <form method="POST" action=".">
            {% csrf_token %}
            {{ form.rating }}
            <p>Please rate this suggestion</p>
            <input id="myInput" type="text" name="rating" placeholder="Integer 1-5">
            <button type="submit" class="btn btn-primary" name="button">Rate recommendation</button>
        </form>
        <p>Rating:</p 

      </div>
    </div> -->
    {% endfor %}
    <br>
    <h1>Your Preference Profiles</h1>
    {% for e in entries %}
    <div id="user-out">
        <p>{{ e.age }}, {{ e.genre }}, {{ e.keyword }}, {{ e.theme }}, {{ e.game_modes}}, {{ e.tags }}, {{ e.platforms }} </p>
    </div>
    {% endfor %}
{% endblock %}