{% extends "base.html" %}

{% block content %}

<style>
    #user-out {
      background-color: whitesmoke;
      max-width: 50%;
      margin: 30px;
    }

</style>
    <h1>Your Recommendations</h1>
    {% for r in recs %}
    <div id="user-out">
        <p><em>Game: {{ r.games }}</em> -- (entered on {{r.timestamp}})</p>
        <p>Recommended Games: {{r.rec|linebreaksbr }}</p>
    </div>
    {% endfor %}
    <br>
    <h1>Your Preference Profiles</h1>
    {% for e in entries %}
    <div id="user-out">
        <p>{{ e.age }}, {{ e.genre }}, {{ e.keyword }},
        ... add more fields later </p>
    </div>
    {% endfor %}
{% endblock %}